body{
    background-color: pink;
    text-align: center; /*texto centrado*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*para poner el tipo de letra*/
}
p{
    text-align: justify;
}
img{
    margin-left: 10px;  /*para el margen de la imagen */
}
/*para los recuadros*/
.recuadro{
    background-color: aquamarine;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    border-width: 0cap;
    padding: 5px;
    border: 1px dotted #9be7d7;
    margin-left:5px;
}