header{
    background-color: #7adfc4;
    border: 8px solid #4a9da3;
    padding: 20 px;
    text-align: center;
}

nav{
    background-color: #d5f08f;
    padding: 5px 15px;
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 1px;
    font: bold 14px verdana, sans-serif;
    text-align: center;
    
}
body{
    text-align: center;
    background-color: hsl(179, 29%, 51%);
}

section{
    float: left;
    width: 70%;
    margin: 20px;
    text-align: justify;
}
aside{
    float: right;
    width: 23%;
    margin: 20px 0px;
    padding: 20px;
    background: #5aa8b1;
    border: 1px solid #999999;
    text-align: justify;
}

article{
    background: #f08522;
    border: 1px solid #75c1f4;
    padding: 20px;
    margin-bottom: 15px;
}

footer{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #62dce0;
}

article img{
    float: right;
    margin: 0px 10px
}