header{
    background-color: #0178ff;
    border: 8px solid #000000;
    padding: 20 px;
    text-align: center;
}

nav{
    background-color: #bef9fc;
    padding: 5px 15px;
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 1px;
    font: bold 14px verdana, sans-serif;
    text-align: center;
    
}



body{
    text-align: center;
    background-color: #6f0779;
}

section{
    float: left;
    width: 70%;
    margin: 20px;
    text-align: justify;
}

aside{
    float: right;
    width: 23%;
    margin: 20px 0px;
    padding: 20px;
    background: #0178ff;
    border: 1px solid #999999;
    text-align: justify;
}

article{
    background: #00a2ff;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}

footer{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

article img{
    float: right;
    margin: 0px 10px
}